@font-face
{
    font-family: "inter";
    src: url("./../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: "inria-serif";
    src: url("./../fonts/InriaSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* 
{
    font-family: "inter", sans-serif;
    margin: 0;
    padding: 0;
}
body
{
    background-color: #C4DAFA;
}
h1 
{
    display: block;
    justify-items: flex-start;
    margin-top: 110px;
    font-size: 70px;

}
#gran-contenedor
{
    flex-direction: column;
    width: 90%;
    margin : 10px;
    margin-left: 5%;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #97B8FE;
}
summary
{
    padding: 1%;
    margin-right: 1%;
}
summary:hover
{
    background-color: white;
}
.modulo
{
    width: 100%;
    font-size: 45px;
    margin: 10px
}
.formulario
{
    background-color: #B5CDFE;
    margin: 1%;
}
.arriba
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.fecha-publicacion
{
    margin: 5px;
    font-size: 20px;
    font-family: cursive;
}
.titulo-formulario
{
    display: inline;
    margin: 1%;
    font-size: 30px;
}
.abajo
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ver-mas
{   
    background-color: #cadcff;
    color: black;
    border: 1px solid gray;
    font-family: "inter", sans-serif;
    font-size: 20px;
    margin: 5px;
    padding: 3px;
    padding-bottom: 0px;
    height: 10%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.ver-mas:hover
{
    background-color: white;
}
/*Botones de cerrar sesión y perfíl*/

#perfil
{
    background-color: #4D82BC;
    flex: 1;
    border-radius:100%;
    margin-right: 1vw;
    width: 5vw;
    height: 5vw;
}
#cerrar-sesion
{
    background-color: #4D82BC;
    flex: 1;
    border-radius:100%;
    margin-left: 1vw;
    width: 5vw;
    height: 5vw;
    border: none;
    
}

#cerrar-sesion:hover
{
    background-color: #0f5fb5;
}

#img_logout
{
    width: 3vw;
    height: 3vW;
}

#cont-circul
{
    height: 10vh;
    width: 12vw;
    display: flex;
    flex-direction:row;
    float: right;
}