@font-face
{
    font-family: "inter";
    src: url("./../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: "inria-serif";
    src: url("./../fonts/InriaSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* 
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #C4DAFA;
    display: flex;
    flex-direction: column;
}
main
{
    padding: 20vh;
    background-color: #CEDEFE;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1 
{
    display: block;
    justify-items: flex-start;
    margin-top: 110px;
    margin-bottom: 5vh;
    margin-left: 10vh;
    font-size: 10vh;
    font-family: "inria-serif";

}
#mensaje-error
{
    font-size: 3vh;
}
input[type="checkbox"], input[type="radio"], input[type="number"]
{
    width: 3vh;
    height: 3vh;
}
#creacion
{
    font-family: "inria-serif";
    font-size: 4vh;
    background-color: #97B8FE;
    margin-left: 11vh;
    margin-bottom: 10vh;
    width: 90%;
    
}
p
{
    margin-left: 7vh;
    margin-bottom: 4vh;
}
.in-texto
{
    width: 90vh;
    height: 4vh;
    font-size: 3vh;
}
#in-modulos
{
    display: flex;
}
.r-modulo
{
    margin-left: 8vh;
}
.l-modulo
{
    font-size: 3vh;
}
#in-grupos
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
}
.r-grupo
{
    margin-left: 30vh;
}
.l-grupo
{
    font-size: 4vh;
}
h2
{
    font-size: 5vh;
    margin-bottom: 4vh;
    margin-left: 3vh;
}
h3
{
    font-size: 5vh;
    margin-bottom: 4vh;
    margin-left: 3vh;
}
#tipo-respuesta > *:not(#respuestas)
{
    display: inline;
}
.r-tipo-r
{
    margin: 5vh;
}
.l-tipo-r
{
    font-size: 3vh;
}
#respuestas
{
    display: none;
    
}
#moatrar-1:checked ~ #respuestas
{
    display: block;

}
#mostrar-2:checked ~ #respuestas
{
    display: block;
}
.respuesta
{
    display: flex;
    align-items: center;
}
.in-respuesta
{
    width: 80%;
    font-size: 3vh;
}
.respuesta-correcta
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#añadir-pregunta
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-añadir
{
    background-color: #4D82BC;
    color: white;
    border: 1px solid black;
    height: 10%;
    font-size: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
#btn-añadir:hover
{
    background-color: #B5CDFE;
    color: black;
}
h4
{
    font-size: 5vh;
    margin-bottom: 4vh;
    margin-left: 3vh;
}
#alineacion-vista
{
    width: 99%;
    display: flex;
    justify-content: center;
    margin-left: 1vh;
}
#vista-previa
{
    background-color: #D9D9D9;
    width: 100%;
    margin: 1vh;
}
#subir-form
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-subir
{
    background-color: #4D82BC;
    color: white;
    border: 1px solid black;
    margin: 3vh;
    padding-bottom: 0px;
    height: 10%;
    font-family: "inter";
    font-size: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
#btn-subir:hover
{
    background-color: white;
    color: black;
}

#perfil
{
    background-color: #4D82BC;
    flex: 1;
    border-radius:100%;
    margin-right: 1vw;
    width: 5vw;
    height: 5vw;
}
#cerrar-sesion
{
    background-color: #4D82BC;
    flex: 1;
    border-radius:100%;
    margin-left: 1vw;
    width: 5vw;
    height: 5vw;
    border: none;
    
}

#cerrar-sesion:hover
{
    background-color: #0f5fb5;
}

#img_logout
{
    width: 3vw;
    height: 3vW;
}

#cont-circul
{
    height: 10vh;
    width: 12vw;
    display: flex;
    flex-direction:row;
    float: right;
}
#gran-contenedor
{
    flex-direction: column;
    width: 90%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #97B8FE;
}