*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main
{
    background-color: #CEDEFE;
    padding: 3%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tarjeta-loging
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 350px;
    background-color: #97B8FE;
    border-radius: 10%;
    
}
h2, h3
{
    text-align: center;
    color: black;
}

#icono-perfil
{
    height: 100px;
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
p
{
    font-size: smaller;
}
#ayuda
{
    color: blue;
    
}
#usuario, #contraseña
{
    height: 25px;
    width: 75%;
    border-radius: 25%;
    background-color: #CEDEFE;
}
#boton-inicio-sesion
{
    border-radius: 20%;
    background-color: #2A3958;
    color: white;
}
#ayuda:visited
{
    color:purple;
}
::placeholder
{
    font-size: xx-small;
}