body
{
    background-color: #C4DAFA;
}
.boton
{
    background-color: #2A3958;
    color: white;
    font-size: 1em;
}
.boton_edicion_datos
{
    background-color: #97B8FE;     
    padding: 15px;
    border-radius: 8px;
}
.desplegable 
{
    background-color: #B5CDFE;
}
.foto_perfil
{
    width: 15em;
    height: auto;
    align-self: flex-start;
    border-radius: 12px;
}
.contenido_principal
{
    width: 100%;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    position: static;
    margin-top: 180px;
    margin-bottom: 360px;
    gap: 5rem;
}
.bloqueo_datos
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}