
body
{
    padding-top: 26vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #CEDEFE;
}

main
{
    padding: 10px;
    background-color: #CEDEFE;
    /*border-radius: 8px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    flex: 1; /*elemento hijo ocupa todo el espacio sobrante disponible ajustándose automáticamente*/
}
form
{
    padding: 10px;
    background-color: #97B8FE;
    /*border-radius: 10px;*/
    font-size: 24px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    margin-bottom: 33vh;
}
.pregunta
{
    padding: 2rem;
    background-color: #CEDEFE;
    /*border-radius: 8px;*/
    width: 62vw;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /*justify-content: center;*/
}
.opciones_respuestas 
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.boton 
{
    margin-top: 1vh;
    background-color: #2A3958;
    color: whitesmoke;
    font-size: 20px;
    margin-right: 10px;
}
.boton:hover
{
    background-color: #0f5fb5;
}
.envio_formulario 
{
    color: rgb(69, 141, 69);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 500px;
}


