body 
{
    margin: 0;
    display: flex;
}

details[open]
{
    display: flex;
    flex-direction: column;   
    background-color: #4D82BC;
    width: 10vw;
    height: 100vh;            
    padding: 1vw;
}

a 
{
    color: #ffffff;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
    background-color: #2a3958aa;
}

a:hover 
{
    background-color: #213150;
}

#cont-ventana 
{
    flex: 1;
    display: flex;
    flex-direction: column;   
}

header 
{
    background-color: #2A3958;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;  
}

#cont-principal 
{
    flex: 1;                  
    padding: 20px;
    background: #C4DAFA;
}

footer 
{
    background-color: #2A3958;
    color: white;
    text-align: center;
    padding: 10px;
}
#perfil
{
    background-color: #4D82BC;
    flex: 1;
    border-radius:100%;
    margin-right: 1vw;
}
#cerrar-sesion
{
    background-color: #4D82BC;
    flex: 1;
    border-radius:100%;
    margin-left: 1vw;
}
#cont-circul
{
    height: 10vh;
    width: 12vw;
    display: flex;
    flex-direction:row;
    float: right;
}
#cont-materiales
{
    background-color: #97B8FE;
    height: 60vh;
}
.menu-checkbox 
{
    display: none;
}

    /* Barra superior (Navbar) */
.navbar 
{
    background-color: #0b2564; 
    height: 5vh;
    width: 5vw;
    display: flex;
    align-items: center;
    color: white;
}

    /* Botón de hamburguesa */
.btn-hamburguesa 
{
    font-size: 30px;
    cursor: pointer;
}

    /* Inicia con el menú oculto */
.menu-lateral 
{
    display: none; 
    position: absolute;
    top: 60px; 
    width: 300px;
    background-color: #4D82BC; 
    padding-top: 20px;
}
.menu-checkbox:checked ~ .menu-lateral 
{
    display: block;
}
.menu-lateral ul li a 
{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
}