*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: #2A3958;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

#logo
{
    display: flex;
    flex-direction: row;
}

.logo-header
{
    height: 13vh;
    margin-right: 5px;
}

#titulo-plataforma, #eslogan
{
    color: white;
}

@media (max-width: 768px)
{
    header
    {
        padding: 1rem;
    }

    
    #eslogan
    {
        font-size: 0.8rem;
    }

    .logo-header
    {
        height: 6vh;
        margin-right: 2px;
    }
    header
    {
        flex-direction: column;
    }
    #titulo-plataforma
    {
        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 1rem;
    }
}